<h1>Relatório de vendas</h1>
<a href="/">Voltar</a>
<% for (const sale of sales) { %>
<div style="border: 1px solid gray; margin-bottom: 10px">
  <% if (sale.employee_id) { %>
    Funcionário: <%= sale.employee.name %><br/>
  <% } %>
  <% if (sale.client_id) { %>
    Cliente: <%= sale.client.name %><br/>
  <% } %>
  Items:
  <ul>
    <% for (const item of sale.items) { %>
      <li><%= item.product.name %></li>
    <% } %>
  </ul>
</div>
<% } %>