<h1>Login</h1>

<% if (error) { %>

<div style="color: red">
  Erro no E-Mail/senha

</div>

<% } %>

<form method="POST" action="/auth/sign_in">

E-Mail: <input type="email" name="email" /><br/>

Senha: <input type="password" name="password" /><br/>

<input type="submit" value="Entrar"/><br/>

</form>